@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-background-400: 28, 30, 35;
  --color-background-500: 32, 37, 40;

  --color-foreground-neutral: 255, 255, 255;
  --color-foreground-blue: 145, 167, 223;
  --color-foreground-red: 224, 108, 117;

  --ff-general: "Lato", system-ui;
  font-family: var(--ff-general);
  color-scheme: dark;

  background-color: rgb(var(--color-background-400));
  color: rgb(var(--color-foreground-neutral))
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-general);
  padding-inline: 2rem;
  padding-bottom: 3rem;
}


.student-table {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  text-align: left;
  width: 100%;
  background-color: rgb(var(--color-background-500));
  border-spacing: 0 0.5rem;
}

.student-table>thead>tr>th {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
}

.btn-danger {
  outline: none;
  border: 2px solid rgb(var(--color-foreground-red));
  padding: 0.75rem;
  border-radius: 1rem;
  min-width: max-content;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(var(--color-background-500));
  transition: filter 150ms ease;
}

.btn-contrast {
  outline: none;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  min-width: max-content;
  cursor: pointer;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: rgb(var(--color-foreground-blue));
  transition: filter 150ms ease;
}

.full-w {
  width: 100%;
  padding: 0.5rem;
}

.btn-contrast:hover {
  filter: brightness(1.1);
}
