@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-background-400: 28, 30, 35;
  --color-background-500: 32, 37, 40;

  --color-foreground-neutral: 255, 255, 255;
  --color-foreground-blue: 145, 167, 223;
  --color-foreground-red: 224, 108, 117;

  --ff-general: "Lato", system-ui;
  font-family: var(--ff-general);
  color-scheme: dark;

  background-color: rgb(var(--color-background-400));
  color: rgb(var(--color-foreground-neutral))
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-general);
}
